In [1]:
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd 
import re

# Просмотренные фильмы
Соберем из html-выгрузок из личного кабинета Кинопоиска датафрейм со всеми просмотренными фильмами.

In [3]:
# загрузим из хранилища необходимые файлы

soups = []
for i in range(2):
    with open("D: MovieDB CreatingTables watched ".replace(' ', '/') + str(i) + '.html', 'r', encoding='utf-8') as f:
        soup = BeautifulSoup(f, "html.parser")
        soups.append(soup)

In [21]:
# преобразуем данные в нужные нам типы и соберем в списки

ru_names = []
en_names = []
years = []
ratings = []
ratings_numbers = []
lengths = []

for soup in soups:
    infos = soup.findAll('div', attrs={'class': 'info'})
    for info in infos:
        runame_n_year = info.find('div', attrs={'class': 'nameRus'}).text
        en_name = info.find('div', attrs={'class': 'nameEng'}).text
        rating = float(''.join(re.findall(r'\d.\d{3}', info.find('b').text)))
        ratings_number = int(''.join(re.findall(r'\d+', info.findAll('span', attrs={'class': 'text-grey'})[0].text)))
        length = int(''.join(re.findall(r'\d+', info.findAll('span', attrs={'class': 'text-grey'})[1].text)))
        
        ru_name = runame_n_year[:-7]
        year = runame_n_year[-5:-1]
        
        ru_names.append(ru_name)
        en_names.append(en_name)
        years.append(year)
        ratings.append(rating)
        ratings_numbers.append(ratings_number)
        lengths.append(length)

In [12]:
# зададим уникальный шаблон для выгрузок 

def df_templater():
    return {'ru_name': ru_names,
            'en_name': en_names,
            'year': years,
            'rating': ratings,
            'ratings_number': ratings_numbers,
            'length': lengths}

In [22]:
# по шаблону соберем из списков датафрейм

watched = pd.DataFrame(df_templater())
watched.head()

           ru_name       en_name  year  rating  ratings_number  length
0         Стрингер  Nightcrawler  2013   7.361          207200     118
1         Догвилль      Dogville  2003   7.989          177638     178
2           Олдбой      Oldeuboi  2003   8.072          218451     120
3  Бойцовский клуб    Fight Club  1999   8.668          993452     139
4      Исчезнувшая     Gone Girl  2014   7.960          601511     149

In [23]:
# сохраним таблицу

with open('D:\MovieDB\CreatingTables\watched\watched.csv', 'w') as f:
    f.write(watched.to_csv())

In [24]:
watched

            ru_name       en_name  year  rating  ratings_number  length
0          Стрингер  Nightcrawler  2013   7.361          207200     118
1          Догвилль      Dogville  2003   7.989          177638     178
2            Олдбой      Oldeuboi  2003   8.072          218451     120
3   Бойцовский клуб    Fight Club  1999   8.668          993452     139
4       Исчезнувшая     Gone Girl  2014   7.960          601511     149
..              ...           ...   ...     ...             ...     ...
62           Олдбой      Oldeuboi  2003   8.072          218452     120
63         Догвилль      Dogville  2003   7.989          177639     178
64         Стрингер  Nightcrawler  2013   7.361          207201     118
65      Донни Дарко  Donnie Darko  2001   7.603          176135     113
66   Господин Никто    Mr. Nobody  2009   7.915          301396     138

[67 rows x 6 columns]